<div class="toolbar">
        <h1 id="pageTitle"></h1>
        <a id="backButton" class="button" href="#"></a>
</div>

    <ul title="Tweets" selected="true">

		
        <li>
            <img src="http://a1.twimg.com/profile_images/51538428/apple-touch-icon_normal.png" border='0' alt="apple4us" style="display:inline;">
            <span  class="pepole" style="margin-top:0px;padding-top:0px;padding-bottom:15px">apple4us</span><br>
            <span class="text">乔布斯谈：iPad 国际市场售价： http://a4us.cc/Yw</span>

			<span class='at'>about 20 minutes ago</span>
			
        </li>

		
        <li>
            <span class="pepole"><img src="http://a3.twimg.com/profile_images/597577189/53155843_normal.jpg" border='0' alt="nk">nk</span>
            <span class="text">Beautiful grief.</span>
			<span class='at'>about 1 hour ago</span>

			
        </li>

		
        <li>
            <span class="pepole"><img src="http://a1.twimg.com/profile_images/857311516/me_normal.jpg" border='0' alt="laoxiong">laoxiong</span>
            <span class="text">三根黄瓜切丝，再打两个鸡蛋，下锅炒熟盛出，烧开水下面条，煮熟出锅，用自来水将面条凉透，拌上之前的黄瓜丝鸡蛋，再来瓶冰啤酒，然后打开电脑找个片，晚饭开始了。。。</span>
			<span class='at'>about 1 hour ago</span>
			
        </li>

		
        <li>
            <span class="pepole"><img src="http://a3.twimg.com/profile_images/296923847/yugui-photo-up_normal.jpg" border='0' alt="yugui">yugui</span>
            <span class="text">PalmのwebOSってよく知らないが、良いものであるならrubyを移植したいなぁ。</span>
			<span class='at'>about 2 hours ago</span>
			
        </li>

		
        <li>
            <span class="pepole"><img src="http://a3.twimg.com/profile_images/296923847/yugui-photo-up_normal.jpg" border='0' alt="yugui">yugui</span>

            <span class="text">昔からrailsにvalidates_satisfaction_of が欲しいと思ってるんだけど、あんまり同意見を聞かない。</span>
			<span class='at'>about 2 hours ago</span>
			
        </li>

		
        <li>
            <span class="pepole"><img src="http://a1.twimg.com/profile_images/14907452/twitter_normal.jpg" border='0' alt="photomatt">photomatt</span>
            <span class="text">Stanton Moore trio: http://wp.me/p4-em</span>

			<span class='at'>about 3 hours ago</span>
			
        </li>

		
        <li>
            <span class="pepole"><img src="http://a1.twimg.com/profile_images/14907452/twitter_normal.jpg" border='0' alt="photomatt">photomatt</span>
            <span class="text">9 May, 2010 08:48: http://wp.me/p4-ek</span>
			<span class='at'>about 3 hours ago</span>

			
        </li>

		
        <li>
            <span class="pepole"><img src="http://a3.twimg.com/profile_images/296923847/yugui-photo-up_normal.jpg" border='0' alt="yugui">yugui</span>
            <span class="text">zfsのバックアップはスナップショットをzfs sendでストリームとして吐いてddするのが基本なのかな。</span>
			<span class='at'>about 3 hours ago</span>
			
        </li>

		
        <li>
            <span class="pepole"><img src="http://a3.twimg.com/profile_images/296923847/yugui-photo-up_normal.jpg" border='0' alt="yugui">yugui</span>
            <span class="text">tru64のホビイストライセンスをどうにか入手できぬものか。あとインストールメディア。</span>
			<span class='at'>about 3 hours ago</span>
			
        </li>

		
        <li>
            <span class="pepole"><img src="http://a1.twimg.com/profile_images/303153854/me-7-sq_normal.jpg" border='0' alt="junyu">junyu</span>

            <span class="text">可能还是去看《铁男2》要比出来参加公司春游有意思。</span>
			<span class='at'>about 3 hours ago</span>
			
        </li>

		
        <li>
            <span class="pepole"><img src="http://a1.twimg.com/profile_images/303153854/me-7-sq_normal.jpg" border='0' alt="junyu">junyu</span>
            <span class="text">真是无聊的一天呀。</span>

			<span class='at'>about 3 hours ago</span>
			
        </li>

		
        <li>
            <span class="pepole"><img src="http://a3.twimg.com/profile_images/620238747/Fenng_new_logo_normal.png" border='0' alt="Fenng">Fenng</span>
            <span class="text">“毕业山工大，认识刘振亚，会说临沂话，走遍电网都不怕”</span>
			<span class='at'>about 4 hours ago</span>

			
        </li>

		
        <li>
            <span class="pepole"><img src="http://a3.twimg.com/profile_images/719219563/_A_New_Age_of_Wonder_-1_normal.jpg" border='0' alt="ev">ev</span>
            <span class="text">http://twitpic.com/1mc7ip</span>
			<span class='at'>about 4 hours ago</span>
			
        </li>

		
        <li>
            <span class="pepole"><img src="http://a3.twimg.com/profile_images/620238747/Fenng_new_logo_normal.png" border='0' alt="Fenng">Fenng</span>
            <span class="text">《商务周刊》牛B！这篇《国网帝国》真的牛B阿！http://goo.gl/KLiO</span>
			<span class='at'>about 4 hours ago</span>
			
        </li>

		
        <li>
            <span class="pepole"><img src="http://a3.twimg.com/profile_images/620238747/Fenng_new_logo_normal.png" border='0' alt="Fenng">Fenng</span>

            <span class="text">RT @erway: 我有个决定，今后凡是我策划的计算机类图书，一律加上索引。之前出版的书都没有加索引，但是重印时我想都加上，支持的请举手！</span>
			<span class='at'>about 4 hours ago</span>
			
        </li>

		
        <li>
            <span class="pepole"><img src="http://a3.twimg.com/profile_images/597577189/53155843_normal.jpg" border='0' alt="nk">nk</span>
            <span class="text">Two girls conspiring together the emasculation of their men, that's what birthdays are for, plotting doom and death.</span>

			<span class='at'>about 4 hours ago</span>
			
        </li>

		
        <li>
            <span class="pepole"><img src="http://a3.twimg.com/profile_images/620238747/Fenng_new_logo_normal.png" border='0' alt="Fenng">Fenng</span>
            <span class="text">推荐:Comsenz的7个短视之处 http://shen2.cn/2010/04/weakness-of-comsenz/</span>
			<span class='at'>about 5 hours ago</span>

			
        </li>

		
        <li>
            <span class="pepole"><img src="http://a1.twimg.com/profile_images/857311516/me_normal.jpg" border='0' alt="laoxiong">laoxiong</span>
            <span class="text">繁忙的工作 + 3.0 的狼八拉 + 2.0的重装北东穿越 == 彪悍的5月</span>
			<span class='at'>about 5 hours ago</span>
			
        </li>

		
        <li>
            <span class="pepole"><img src="http://a3.twimg.com/profile_images/620238747/Fenng_new_logo_normal.png" border='0' alt="Fenng">Fenng</span>
            <span class="text">经过数个小时的折腾。现在 MBP 总算设置差不多了。开发环境的配置还需要微调。</span>
			<span class='at'>about 5 hours ago</span>
			
        </li>

		
	<li><a target="_replace" href="/1" selected="progress">Get 20 More Stories...</a></li>

</ul>
